<div class="wrapper_center {% if screen_high %}screen_high{% endif %}">
    <form action="{% url "registration" %}" method="post">
        {% csrf_token %}
        <div class="input_set">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" autocomplete="username" required>
        </div>
        <div class="input_set">
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" autocomplete="new-password" required>
        </div>
        <div class="bottom_buttons">
            <button type="submit">Sign Up</button>
        </div>
    </form>
</div>